<script type="text/javascript" src="index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>


</script>

<!DOCTYPE html>
<html>
<head>
	<title>GitTutor</title>
</head>
<body ng-controller="LangCtrl">
  <ul>
    <li ng-repeat="lang in languages">
      {{todo.text}} - <em>{{todo.done}}</em>
    </li>
  </ul>
	<a href="link">text</a>
</body>
</html>
